*{
    margin-right: -5px;
    padding: 0px;
}
/* --------------------------------------------------------------------------------------- */
.img-portada {
    width: 50%;
}
/* --------------------------------------------------------------------------------------- */
section{
    margin-bottom: 20px;
}
.container {
    margin: 0;
}
.col-sm-12{
    margin-top: 10px !important;
}
.navbar{
    background: linear-gradient(0deg, rgba(195,195,34,1) 0%, rgba(229,182,61,1) 61%, rgba(253,180,45,1) 93%);
}

.nav-item {
    margin-left: 25px;
}
li {
    font-size: 24px;
}
.dropdown-menu{
    border-radius: 20px !important;
    background-color: rgba(255, 255, 0, 0.362) !important;
}
.lol{
    background-color: black;
    width: 100px;
    height: 100px;
}
/* --------------------------------------------------------------------------------------- */
.columna {
    width: 80%;
    margin: 2vh;
}
/* -------------------------------------------------------------------------------------- */
.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.divproductos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.div-individual-productos {
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 25%;
}
.titulo-cuadrados {
    margin: 20px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}
.texto-cuadrados {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}
a {
    text-decoration: none !important;
}

/* MEDIA-------------------------------------------------------- */
@media screen and (max-width: 480px) {
    li {
        font-size: 20px;
    }
    .div-individual-productos {
        width: 100%;
    }
}